In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Leningradskiy,RU,2021-07-24 00:18:36,69.3833,178.4167,42.06,76,45,9.80
1,1,Marzuq,YE,2021-07-24 00:19:56,14.4000,46.4667,68.13,83,100,6.15
2,2,Cidreira,BR,2021-07-24 00:17:30,-30.1811,-50.2056,59.67,81,0,7.47
3,3,Vila Franca Do Campo,PT,2021-07-24 00:19:57,37.7167,-25.4333,70.21,89,93,5.88
4,4,Bethel,US,2021-07-24 00:19:57,41.3712,-73.4140,74.91,71,75,1.01
...,...,...,...,...,...,...,...,...,...,...
559,559,Dekar,BW,2021-07-24 00:29:38,-21.5333,21.9333,40.64,28,0,6.73
560,560,Cascais,PT,2021-07-24 00:29:46,38.6979,-9.4215,66.47,75,1,4.00
561,561,Timra,SE,2021-07-24 00:29:47,62.4870,17.3257,57.67,67,43,10.36
562,562,Lichinga,MZ,2021-07-24 00:29:48,-13.3128,35.2406,53.65,88,100,10.27
563,563,Bridlington,GB,2021-07-24 00:29:49,54.0831,-0.1919,62.78,85,84,9.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#---------------------------Create a Maximum Temperature Heatmap-----------------------
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

SyntaxError: invalid syntax (<ipython-input-9-c063b4e256c0>, line 4)

In [12]:
from config import g_key